// 自定义变量
:root {
	--primary-color: #1890ff;
	--primary-color-rgb: 24, 144, 255;
	--primary-color-hover: #40a9ff;
	--primary-color-active: #096dd9;
	--purple: #8b3dff;
	--warn: #e6a23c;
	--danger: #f56c6c;
	--danger-hover: rgb(177.5 81.6 81.6);
}
