// dark 样式
html[data-theme='dark'] {
	--background-color: #141414;
	--background-color-rgb: 20, 20, 20;
	--background-color-hover: #2b2b2b;
	--background-color-active: #303030;
	--text-color: #fff;
	--text-color-rgb: 255, 255, 255;
	--text-color-hover: #fff;
	--text-color-active: #fff;
	--text-color-secondary: #fff;
	--text-color-secondary-rgb: 255, 255, 255;
	--border-color: #2b2b2b;
}

// light 样式
html[data-theme='light'] {
	--background-color: #fff;
	--background-color-rgb: 255, 255, 255;
	--background-color-hover: #f5f5f5;
	--background-color-active: #f0f0f0;
	--text-color: #141414;
	--text-color-rgb: 20, 20, 20;
	--text-color-hover: #141414;
	--text-color-active: #141414;
	--text-color-secondary: #141414;
	--text-color-secondary-rgb: 20, 20, 20;
	--border-color: #f0f0f0;
}
